.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

Skip to content
Why GitHub? 
Enterprise
Explore 
Marketplace
Pricing 
Search

Sign in
Sign up
1 0 0 abhkt/weather-app-react
 Code  Issues 0  Pull requests 0  Projects 0  Security  Insights
Join GitHub today
GitHub is home to over 40 million developers working together to host and review code, manage projects, and build software together.

weather-app-react/src/components/MainPage/mainpage.css
@abhishektiwari26 abhishektiwari26 initial commit
d1b8f53 18 minutes ago
73 lines (69 sloc)  1.22 KB
  
.container{
    width: 100%;
}
.input-field-container{
    width: 50%;
    margin: 20px auto;
    height: auto;
    background-color: #EAF1FB;
    padding: 20px 50px;
}
.input-field{
    width: 60%;
    padding: 5px 8px;
}
.search-button{
    padding: 5px 8px;
    margin: 0px 10px;
}
.dropdown-list{
    padding: 5px 8px;
    margin-left: 50px;
}
.display-weather-container{
    margin: 20px auto;
    background-color: aqua;
    min-width: 50%;
}
.display-weather-container p{
    background-color: white;
    padding: 15px 10px;
    font-size: 1em;
}

.past-searches-container{
    background-color: rgb(240, 240, 240);
    text-align: center;
    margin: 30px auto;
}

.single-block{
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    background-color: white;
    margin: 10px 10px;
}

.single-block p{
    margin: 5px 0px;
    color: #32ADC5;
}

#id12{
    text-align: center;
    color:rgb(139, 177, 231);
    font-weight: 500;
    margin: 10px 0px;
    font-size: 1.1em;
}
.city-not-found{
    font-size: 1.1em;
    margin: 10px auto;
    width: 60%;
    color: rgb(235, 103, 158);
}
.loader-container{
    text-align: center;
    margin: 20px auto;
}
.loader-container img{
    width: 60px;
    height: 60px;
}

